.content_holder {
    background-color: white;
    display: flex;
    padding: 1rem 2rem;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ant-timeline-item-last {
    padding-bottom: 0 !important;
}

.ant-timeline-item-last .ant-timeline-item-content {
    min-height: 0 !important;
}