.routing_bar {
    background-color: white;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightSelector, .darkSelector {
    height: 100%;
}

.lightSelector {
    color: #0958d9 !important;
}